{% extends "base.html" %} 
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'about.css' %}" type="text/css">

<div class="box-container">
    <div class="box0">
        <h2><i><u>About</u></i></h2>
        <p id="para0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

    <div class="card text-center mb-3" style="width: 15rem;">
        <img src="{% static 'pic1.jpg' %}" class="card-img-top" alt="image cap">
        <div class="card-body">
          <h5 class="card-title">Aiden, Design Manager</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

    <div class="card text-center mb-3" style="width: 15rem;">
        <img src="{% static 'pic1.jpg' %}" class="card-img-top" alt="image cap">
        <div class="card-body">
          <h5 class="card-title">Andre, Testing Manager</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="card text-center mb-3" style="width: 15rem;">
        <img src="{% static 'pic1.jpg' %}" class="card-img-top" alt="image cap">
        <div class="card-body">
          <h5 class="card-title">Afroze, Project Manager</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="card text-center mb-3" style="width: 15rem;">
        <img src="{% static 'pic1.jpg' %}" class="card-img-top" alt="image cap">
        <div class="card-body">
          <h5 class="card-title">Giuseppe, Requirements Manager</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="card text-center mb-3" style="width: 15rem;">
        <img src="{% static 'pic1.jpg' %}" class="card-img-top" alt="image cap">
        <div class="card-body">
          <h5 class="card-title">Kian, Presentation Manager</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>
{% endblock %}