{% extends "base.html" %} 
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'about.css' %}" type="text/css">

<div class="box-container">
    <div class="box0">
        <h2><i><u>Meet the Team!</u></i></h2>
        <p id="para0">
            A quick overview of our team members and their roles in the development of our industry leading to-do application.
        </p>
    </div>

    <div class="box1">
        <h2><u><i>Afroze</i></u></h2>
        <p id="para1">
            <img src="{% static 'afroze.png' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>Fun and stern, she will get the job done. <br><br> <strong>Role: </strong>Project Manager 
        </p>
    </div>

    <div class="box2">
        <h2><i><u>Aiden</u></i></h2>
        <p>
            <img src="{% static 'aiden.png' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>A technical wizard with amazing hair. <br><br> <strong>Role: </strong> Design Manager
        </p>
    </div>

    <div class="box3">
        <h2><i><u>Andre</u></i></h2>
        <p>
            <img src="{% static 'andre.png' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>A sports nerd that loves data.  <br><br> <strong>Role: </strong> Testing Manager
        </p>
    </div>

    <div class="box4">
        <h2><i><u>Giuseppe</u></i></h2>
        <p>
            <img src="{% static 'giuseppe.png' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>The heartbeat of team with great ideas.  <br><br> <strong>Role: </strong> Requirements Manager
        </p>
    </div>

    <div class="box5">
        <h2><i><u>Kian</u></i></h2>
        <p>
            <img src="{% static 'kian.png' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>A team player ready to help in any situation.  <br><br> <strong>Role: </strong> Presentation Manager
        </p>
    </div>

    <div class="box6">
        <h2><i><u>Former</u></i></h2>
        <p>
            <img src="{% static 'former.png' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>Gone too soon.  <br><br> <strong>Role: </strong> N/A
        </p>
    </div>

</div>
{% endblock %}