{% extends "base.html" %} 
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'about.css' %}" type="text/css">

<div class="box-container">
    <div class="box0">
        <h2><i><u>About</u></i></h2>
        <p id="para0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

    <div class="box1">
        <h2><u><i>Afroze</i></u></h2>
        <p id="para1">
            <img src="{% static 'pic1.jpg' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br><br> <strong>Role: </strong>Project Manager 
        </p>
    </div>

    <div class="box2">
        <h2><i><u>Aiden</u></i></h2>
        <p>
            <img src="{% static 'pic1.jpg' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br><br> <strong>Role: </strong> Design Manager
        </p>
    </div>

    <div class="box3">
        <h2><i><u>Andre</u></i></h2>
        <p>
            <img src="{% static 'pic1.jpg' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br><br> <strong>Role: </strong> Testing Manager
        </p>
    </div>

    <div class="box4">
        <h2><i><u>Giuseppe</u></i></h2>
        <p>
            <img src="{% static 'pic1.jpg' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br><br> <strong>Role: </strong> Requirements Manager
        </p>
    </div>

    <div class="box5">
        <h2><i><u>Ismail</u></i></h2>
        <p>
            <img src="{% static 'pic1.jpg' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br><br> <strong>Role: </strong> Dropped
        </p>
    </div>

    <div class="box6">
        <h2><i><u>Kian</u></i></h2>
        <p>
            <img src="{% static 'pic1.jpg' %}" alt="placeholder image" style="padding-right:15px;">
            <strong>Bio: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br><br> <strong>Role: </strong> Presentation Manager
        </p>
    </div>
</div>
{% endblock %}