{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="/register/" method="POST">
    {% csrf_token %}
    <div class="container mt-5">

        <div class="row mb-3">
            <h4 class="col-3">Email</h4>
            <input type="text" class="col-9" name="email" required>
        </div>

        <div class="row mb-3">
            <h4 class="col-3">Password</h4>
            <input type="password" class="col-9" name="password" required>
        </div>

        <div class="row mb-3">
            <h4 class="col-3">Confirm Password</h4>
            <input type="password" class="col-9" name="passwordconfirm" required>
        </div>

    </div>

    <div class="col"> 
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
{% endblock %}
