{% extends "base.html" %} 
{% load static %}
{% block content %}
<form action="{% url 'teamdetails' team.id %}" method="POST">
    {% csrf_token %}
    <div class="container mt-5">

        <div class="row mb-3">
            <h2>{{ team.name }}</h2>
        </div>

        <div class="row mb-3">
            <p>{{ team.description }}</p>
        </div>

        <div class="row mb-3">
            <h4>Team Members</h4>
            <div class="col">
                {{ form.name }} {% comment %} Use form model to inject input field. {% endcomment %}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <ul id="team-members-list" class="list-group">
                    {% for member in members %}
                        <li class="list-group-item">{{ member }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>

    <div class="row mt-3"> 
        <div class="col text-end"> 
            <button type="submit" class="btn btn-success">Update</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Cancel</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Team</button>
        </div>
    </div>
</form>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you wish to delete this team? Doing so will also remove any Todo items assigned to this team.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="POST" action="{% url 'delete_team' team.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}