<div class="card">
    <div class="card-header">
        {% if todo.get_state_display == "Active" %}
            {% comment %} Active - {{Time}} {% endcomment %}
        {% elif todo.get_state_display == "Paused" %}
            Paused - {% comment %} {% endcomment %}
        {% elif todo.get_state_display == "Stopped" %}
            Stopped - {% comment %} {% endcomment %}
        {% endif %}
    </div>

    <div class="card-body">
        <h3 class="card-title">{{todo.title}}</h3>
        <p class="card-text">{{todo.description}}</p>

        <a href="{% url 'edit' todo.id %}" class="btn btn-secondary">Edit</a>
        <button type="button" 
            class="btn btn-outline-danger" 
            data-bs-toggle="modal" 
            data-bs-target="#todo-delete-modal-{{todo.id}}">
            Delete
        </button>
    </div>
</div>

<!-- Modal modified from bootstrap documentation example: https://getbootstrap.com/docs/5.3/components/modal/#live-demo -->
<div class="modal fade" id="todo-delete-modal-{{todo.id}}" tabindex="-1" aria-labelledby="todoDeleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="todoDeleteModal">Delete?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">Are you sure you wish to delete this item?</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'todo_delete' todo.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>