<div class="card">
    <div class="card-header">
        {% if todo.state == "A" %}
            <span class="card-text" id="todo-elapsed-{{todo.id}}"></span>
        {% elif todo.state == "P" %}
            Paused - <span class="card-text" id="todo-elapsed-{{todo.id}}"></span>
        {% elif todo.state == "S" %}
            Stopped - <span class="card-text" id="todo-elapsed-{{todo.id}}"></span>
        {% else %}
            &nbsp; {% comment %} Invisible content to keep card header full height. {% endcomment %}
        {% endif %}
    </div>

    <div class="card-body">
        <h3 class="card-title">{{todo.title}}</h3>
        <p class="card-text">{{todo.description}}</p>

        {% if todo.state == "N" or todo.state == "S" %}
            <a href="" class="btn btn-success">Start</a>
        {% elif todo.state == "P" %}
            <a href="}" class="btn btn-outline-success">Resume</a>
        {% elif todo.state == "A" %}
            <a href="" class="btn btn-outline-danger">Stop</a>
            <a href="" class="btn btn-outline-warning">Pause</a>
        {% endif %}

        <a href="{% url 'edit' todo.id %}" class="btn btn-secondary">Edit</a>
        <button type="button" 
            class="btn btn-outline-danger" 
            data-bs-toggle="modal" 
            data-bs-target="#todo-delete-modal-{{todo.id}}">
            Delete
        </button>
    </div>
</div>

<!-- Modal modified from bootstrap documentation example: https://getbootstrap.com/docs/5.3/components/modal/#live-demo -->
<div class="modal fade" id="todo-delete-modal-{{todo.id}}" tabindex="-1" aria-labelledby="todoDeleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="todoDeleteModal">Delete?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">Are you sure you wish to delete this item?</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'todo_delete' todo.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script data-state="{{todo.state}}" data-output-id="todo-elapsed-{{todo.id}}" data-start-time="{{todo.relative_start}}" >
{
    const data = document.currentScript.dataset;
    const timeDisplay = document.getElementById(data.outputId);
    if (timeDisplay) { // If output element is present then we calculate and update the time.
        const startTime = new Date(data.startTime);
        let elapsed = new Date();
    
        function updateTimer() {
            // Calculate the passed time and display with only time details larger than 0.
            elapsed.setTime(Date.now() - startTime);
            let timeStr =   (elapsed.getUTCHours() > 0 ? `${elapsed.getUTCHours()}h ` : "") +
                            (elapsed.getUTCMinutes() > 0 ? `${elapsed.getUTCMinutes()}m ` : "")  + 
                            `${elapsed.getUTCSeconds()}s`
            timeDisplay.innerText = timeStr
        }
    
        updateTimer();
        if (data.state == "A") { // If the todo item is active then the timer should tick and update.
            setInterval(updateTimer, 1000);
        }
    }
}
</script>